extends layout

block content
  h1= title
  
  script(src='//code.jquery.com/jquery-1.12.0.min.js')
  script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
  script(src="https://cdn.socket.io/socket.io-1.2.0.js")
  script().
    var socket = io();
  script(src="javascripts/jquery.js")
  
  ul#messages
  
  form#form-message(action='')
    input#message(type='text', autocomplete='off')
    button#btn-send Send
  
  button#btn-join Join
